---
---

@import "minima";

body, 
html,
.page, 
.site {
  background-color: #000 !important;
  color: #fff !important;
}

a {
  color: #00aaff !important;
}

header, 
footer, 
.navbar, 
.post {
  background-color: #000 !important;
}

.post-title,
.site-title,
.page-title {
  color: #fff !important;
}
