<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- CSS do tema -->
  {{ site.styles }}

  <!-- CSS do botão copiar -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/copy.css">
</head>
<body>

  <main class="post-content">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </main>

  <!-- JS do botão copiar -->
  <script src="{{ site.baseurl }}/assets/js/copy.js"></script>

  <!-- JS do tema -->
  {{ site.scripts }}
</body>
</html>
